BASE_URL=https://the-internet.herokuapp.com
API_URL=https://dummyjson.com

ARTIFACTS_DIR=artifacts

BROWSER=chromium

USER_STAN=tomsmith
PASS_STAN=SuperSecretPassword!

USER_ADMIN=admin
PASS_ADMIN=admin

API_USER=abigailr
API_PASS=abigailrpass